# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
.venv/
venv/

# Environment variables
.env

# PyCharm / IDE
.idea/
.vscode/

# Testing / cache
.pytest_cache/
.coverage
htmlcov/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log
